<a href="https://colab.research.google.com/github/MalfyAlshafin/AlHazen_Class/blob/main/List_sum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
number= [2, 3, 4, 5, 6, 7, 8, 9, 10]
a=0
for sum in number:
  a=a+sum 
print("The result is", a)

The result is 54

In [3]:
number= [4, 5, 6, 7, 8, 9, 10, 11, 12]
b=0
for sum in number:
  b=b+sum
print("The result is ", b)

The result is  72

In [19]:
number= [2, 3, 4, 5, 6, 7, 8, 9, 10]
a=len(number)
print(a)
b=0
for sum in number:
  b=b+sum
print(b)
c=b/a
print(c)

9
54
6.0

In [17]:
number= [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
a=len(number)
print(a)
b=0
for sum in number:
  b=b+sum
print(b)
c=b/a
print(c)

16
184
11.5