<a href="https://colab.research.google.com/github/MalfyAlshafin/AlHazen_Class/blob/main/LIST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
olahraga = ["bola", "badminton", "basket"]
print(olahraga)
print(len(olahraga))

['bola', 'badminton', 'basket']
3

In [3]:
olahraga = ["bola", "badminton", "basket"]
print(type(olahraga))

<class 'list'>

In [5]:
olahraga = ["bola", "badminton", "basket"]
print(olahraga[2])

basket

In [12]:
angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
print(angka[:5])
print(angka[2:7])
print(angka[3:5])
print(angka[7:])

[1, 2, 3, 4, 5]
[3, 4, 5, 6, 7]
[4, 5]
[8, 9, 10, 11, 12, 13, 14, 15]

In [18]:
Login = ["Malfy", 13, "Jakarta", 821, "login succes", "login falid"]
name = str(input("what is your name?"))
age = int(input("what is your age?"))
place = str(input("where do you live?"))
phone_number = int(input("wht is you phone number?"))
robot = int(input("5 + 5"))
if name == Login[0] and age == Login[1] and place == Login[2] and phone_number == Login[3] and robot ==10 :
  print(Login[4])
else:
  print(Login[5])

what is your name?Malfy
what is your age?1
where do you live?indonesia
wht is you phone number?0876
5 + 51
login falid

In [3]:
dict1 = {
    "brand":"honda",
    "tahun":2022,
    "model":"HRV",
}
print(dict1)
dict1["saingan"]="yamaha"
print(dict1)

{'brand': 'honda', 'tahun': 2022, 'model': 'HRV'}
{'brand': 'honda', 'tahun': 2022, 'model': 'HRV', 'saingan': 'yamaha'}