<a href="https://colab.research.google.com/github/MalfyAlshafin/AlHazen_Class/blob/main/Ujian_Malfy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a="110011"
b=int(a, 2)
print(b)

51

In [4]:
a="00011011"
b=int(a, 2)
print(b)

27

In [5]:
a="00100110"
b=int(a, 2)
print(b)

38

In [6]:
a="00001001"
b=int(a, 2)
print(b)

9

In [19]:
a= ['ikan', 'ayam', 'tempe']
print(a[1])
b= ['teh', 'kopi', 'susu']
print(b[0])
c= ['panda', 'harimau', 'gajah']
print(c[2])
d= ['pisang', 'mangga', 'apel']
print(d[0:2])

ayam
teh
gajah
['pisang', 'mangga']

In [32]:
a= {
'b' : [2, 3, 4, 5, 6, 7, 8],
'c' : [3, 4, 5, 6, 7, 8, 9, 10]
}
d=0
e=0
for sum in a['b']:
  d=sum+d
print("Hasil dari b adalah", d)
for sum in a['c']:
  e=sum+e
print("Hasil dari c adalah", e)

Hasil dari b adalah 35
Hasil dari c adalah 52

In [29]:
a = [3, 4, 5, 6, 7, 8, 9, 10]
b=0
for i in a:
  b=b+i
print("Nilai dari c adalah", b)
c= len(a)
d=b/c
print("Rata rata dari a adalah", d)

Nilai dari c adalah 52
Rata rata dari a adalah 6.5

In [28]:
a = [2, 3, 4, 5, 6, 7, 8]
b=0
for i in a:
  b=b+i
print("Nilai dari a adalah", b)
c= len(a)
d=b/c
print('Rata rata dari a adalah', d)

Nilai dari a adalah 35
Rata rata dari a adalah 5.0

In [8]:
print("Silahkan masukkan angka")
a = int(input())
b=0
while b<=a:
  b+=1;
  print(a, 'x', b, '=', a*b)

Silahkan masukkan angka
10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110